---
import { Masonry } from 'astro-masonry';
import Layout from '../layouts/Layout.astro';
import { getHomePosts } from '../services';
import Post from '../components/Post.astro';
const homePosts = await getHomePosts()
---


<Layout title="Inicio">
	<main>
		<section class="space-y-4 md:space-y-10 p-4 md:p-10">
			<h2 class="text-4xl md:text-6xl font-semibold text-center">Portfolio</h2>
			<Masonry
				class="flex gap-4 md:gap-10"
				columnClass="flex flex-col gap-4 md:gap-10"
				breakpointCols={{
					default: 3,
					1100: 2
				}}
				sortByHeight={true}
			>
				{homePosts.map((post) => (
					<Post post={post} />
				))}

			</Masonry>
			
		</section>
	</main>

</Layout>

<!-- <style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style> -->
