---
import Layout from '../layouts/Layout.astro';
import { getPosts } from '../services';
const posts = await getPosts()
---


<Layout title="Inicio">
	<header class="absolute top-0 left-0 w-full h-[100px] p-10">
		<div class="flex items-center justify-between">
			<div class="logo text-white">Pernía Photography</div>
			<div>
				<nav>
					<ul class="flex items-center gap-10">
						<li><a href="">Inicio</a></li>
						<li><a href="">Contacto</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<main>
		<section class="grid grid-cols-2">
			<div class="aspect-square w-full max-h-[800px] bg-slate-950 text-white"></div>
			<div class="aspect-square w-full max-h-[800px] bg-[#525647]"></div>
		</section>
		<section class="aspect-video bg-[#272A21] p-20 text-white">
			featured
			<pre class="text-xs">{JSON.stringify(posts, null, 2)}</pre>
		</section>
		<section class="grid grid-cols-2">
			<div class="bg-lime-100">
				<div class="bg-lime-200 aspect-video">1</div>
				<div class="bg-lime-300 aspect-video">2</div>
			</div>
			<div class="bg-lime-500">
				2
			</div>
		</section>
	</main>
</Layout>

<!-- <style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style> -->
