---
import Layout from '../layouts/Layout.astro';
import { getPosts, getHomePosts } from '../services';
import Post from '../components/Post.astro';
// @ts-ignore
import { Image } from 'astro:assets';
const homePosts = await getHomePosts()
const homePostsColumnOne = homePosts.filter((post, index) => index % 2 === 0)
const homePostsColumnTwo = homePosts.filter((post, index) => index % 2 !== 0)

const homePostsColumnOneSorted = homePostsColumnOne.sort(() => Math.random() - 0.5)
const homePostsColumnTwoSorted = homePostsColumnTwo.sort(() => Math.random() - 0.5)

// const randomPosts = homePosts.sort(() => Math.random() - 0.5)



---


<Layout title="Inicio">
	<main>
		<!-- <pre><code>{JSON.stringify(homePosts, null, 2)}</code></pre> -->

		<section class="space-y-4 md:space-y-10 p-4 md:p-10">
			<h2 class="text-4xl md:text-6xl font-semibold text-center">Portfolio</h2>
			<div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-10">
				<div class="flex flex-col gap-4 md:gap-10">
					{homePostsColumnOneSorted.map((post) => (
						<Post post={post} />
					))}
				</div>
				<div class="flex flex-col gap-4 md:gap-10">
					{homePostsColumnTwoSorted.map((post) => (
							<Post post={post} />
					))}
					<div class="bg-slate-900/50 backdrop-blur-sm h-full flex items-center justify-center text-white">
						Contactame
					</div>
				</div>
			</div>
		</section>
	</main>

</Layout>

<!-- <style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style> -->
