---
import { Camera } from '@lucide/astro';
---

<header class="fixed z-10 grid content-center top-0 left-0 w-full p-5 h-20 bg-white/20 backdrop-blur-md">
  <div class="flex items-center justify-between">
    <a href="/" class="logo text-white text-2xl font-bold flex items-center gap-2 leading-none">
      <Camera size={28} />
      Pernía Photography
    </a>
    <div>
      <nav>
        <ul class="flex items-center gap-10 text-white">
          <li><a href="/">Inicio</a></li>
          <li><a href="/sobre-mi">Sobre mí</a></li>
          <li><a href="">Contacto</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<div class="h-20">asdaasdasdas</div>