---
---

<header class="absolute top-0 left-0 w-full h-[100px] p-10">
  <div class="flex items-center justify-between">
    <div class="logo text-">Pernía Photography</div>
    <div>
      <nav>
        <ul class="flex items-center gap-10">
          <li><a href="/">Inicio</a></li>
          <li><a href="/sobre-mi">Sobre mí</a></li>
          <li><a href="">Contacto</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>